main{
    display: flex;
    background-color: rgb(70, 70, 70);
    justify-content: space-evenly;
}
.logo{
    color: rgb(219, 219, 219);
    font-weight: 700;
    text-align: start;
    width: 200px;
}
.decoration{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: rgb(219, 219, 219);
}
.buton{
    color: rgb(219, 219, 219);
    background-color: rgb(61, 182, 248);
    border-radius: 20px;
    width: 90px;
    height: 45px;
}