.image_{
    display: flex;
    align-items: center;
    display: inline;
    text-align: center;
}
.explanation{
    display: flex;
    align-items: center;
    flex-direction: column;
    display: inline;
}